.editor-container {
  width: 100%;
  height: 500px;
}

.editor {
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  text-align: left;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.BoldrEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;

    .toolbar {
    height: 0;
    position: absolute;
    display: none;
    z-index: 10;
  }
}
div.toolbar__wrapper {
  display: inline-block;
}
.BoldrEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.BoldrEditor-editor .public-DraftEditorPlaceholder-root,
.BoldrEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.BoldrEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.BoldrEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.BoldrEditor-editor .BoldrEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.BoldrEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.BoldrEditor-controls {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.BoldrEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.BoldrEditor-activeButton {
  color: #5890ff;
}

.boldr-editor {
  .toolbar {
    height: 0;
    position: absolute;
    display: none;
    z-index: 10;
  }
}

.toolbar {
    background: yellow;
    height: 0;
    position: absolute;
    display: none;
    z-index: 10;

    &--open {
        display: block;
    }

    &__wrapper {
        background-color: #181818;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        left: -50%;
        position: relative;
    }

    &__list {
        padding: 0 8px;
        margin: 0;
        white-space: nowrap;
    }

    &__arrow {
        display: inline-block;
        top: 100%;
        left: 50%;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 8px;
        border-style: solid;
        border-color: #181818 transparent transparent;
        margin-left: -8px;
    }

    &--editing-link {
        .toolbar__list {
            display: none;
        }
        .toolbar__input {
            display: block;
        }
    }

    &__item {
        display: inline-block;
        color: #ccc;

        &:hover {
            color: #fff;
        }

        &--active {
            color: #3192e7;

            &:hover {
                color: #3192e7;
            }
        }

        &--separator {
            border-right: 1px solid #333;
            height: 20px;
            margin: 0 8px
        }
    }

    &__button {
        padding: 0;
        color: inherit;
        cursor: pointer;
        border: 0;
        height: 56px;
        width: 40px;
        background: transparent;
    }

    &__input {
        background-color: transparent;
        border: none;
        color: #fafafa;
        display: none;
        font-size: 0.875rem;
        height: auto;
        line-height: 0.875rem;
        margin: 0;
        padding: 20px;
        width: 250px;

        &:focus {
            outline: none;
        }
    }
}
