{
  "parser": "babel-eslint",
  "extends": ["boldr", "boldr/react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "flowtype",
    "flow-vars"
  ],
  "ecmaFeatures": {
    "defaultParams": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "no-unused-vars": 0,
    "babel/new-cap": 0,
    "babel/arrow-parens": 0,
    "import/no-unresolved": 0
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__DLLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
