{
  "parser": "babel-eslint",
  "extends": "axial",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "flowtype",
    "flow-vars"
  ],
  "ecmaFeatures": {
    "defaultParams": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "no-unused-vars": 0
  }
}
