{
"env": {
    "browser": true,
    "es6": true,
    "node": true
},
  "extends": [
    "axial"
  ],
  "rules": {
    "imports/no-unresolved": 0,
    "no-shadow": 0,
    "consistent-return": 0
    }
}
