version: '2'

services:
  dbstore:
    image: busybox
    container_name: ${PROJECT_ID}-dbstore
    tty: true
    stdin_open: true
    volumes:
      - "dbstore:/var/lib/postgresql/data"
      - "./docs/logs/db:/var/log:rw"
      - ./tools/docker/postgres/configs:/docker-entrypoint-initdb.d:ro
  # boldr:
  #   build: .
  #   container_name: ${PROJECT_ID}
  #   command: npm run start:dev
  #   environment:
  #     POSTGRES_CONNECTION_URL: postgres://postgres:password@db:5432/boldr_development
  #   ports:
  #     - "3000:3000"
  #     - "3001:3001"
  #   volumes:
  #     - "./node_modules:/app/node_modules"
  #     - ".:/app"
  #   depends_on:
  #     - db
  db:
    container_name: ${PROJECT_ID}-postgres
    build: tools/docker/postgres
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes_from:
      - dbstore
    networks:
      - boldr
    depends_on:
      - dbstore

  # redis:
  #   image: redis:3-alpine
  #   container_name: ${PROJECT_ID}-redis
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - "redisstore:/data"
  #   networks:
  #     - boldr

networks:
  boldr:
    driver: bridge

volumes:
  dbstore:
    driver: local
  # redisstore:
  #   driver: local
