version: '2'

services:
  dbstore:
    image: busybox
    container_name: ${PROJECT_ID}-dbstore
    tty: true
    stdin_open: true
    volumes:
      - "dbstore:/var/lib/postgresql/data"

  redis:
    image: redis:3-alpine
    container_name: ${PROJECT_ID}-redis
    ports:
      - "6379:6379"
    networks:
      - boldr

  postgres:
    image: postgres:9.5
    volumes_from:
          - dbstore
    ports:
      - "5432:5432"
    networks:
      - boldr
    depends_on:
      - dbstore

networks:
  boldr:
    driver: bridge

volumes:
  dbstore:
    driver: local
