@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin hide() {
  display: none;
  visibility: hidden;
}

@mixin show($display: block) {
  display: $display;
  visibility: visible;
}

@mixin medium {
  @media (min-width: #{$window-medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$window-large}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$window-xlarge}) {
    @content;
  }
}
