///
// Basic Typography styles
// --------------------------------------------------------------------------

body {
  color: $grape;
  font: normal 125% / 1.4 $text-font-stack;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  // scss-lint:disable ColorVariable
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
